@import 'styles/_shared.scss';

.client--container {
    display: grid;
    grid-template-columns: 1fr 450px;
    grid-template-areas: "workflow modules";
    grid-gap: 30px;
    max-width: $max-width;
    margin: 0 auto;

    h1 {
        text-align: left;
        margin-bottom: 10px;
        font-size: 20px;
    }
}

.client-workflow--container {
    grid-area: workflow;
    width: 100%;
}


.client-modules--container {
    grid-area: modules;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(min-content, 400px) minmax(min-content, auto) 1fr;
}

.client-information--container,
.client-package--container,
.client-events--container {
    width: 100%;
    .client-page--header {
        @include info-module-header;

        .btn-tertiary {
            align-self: flex-end;
            margin-bottom: 10px;
            padding: 5px 10px;
            background-color: $blue-100;
        }
    }
}

@media (max-width: 800px) {
    .client--container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:    "modules"
                                "workflow";
    }

    .client-events--container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}

@media (max-width: 750px) {
    .client-events--container {
        grid-template-columns: 1fr;
    }
}