@import 'styles/_shared.scss';

.checkmark-icon {
    margin-right: 10px;
    i {
        background-color: white;
    }   
}

.checkmark-icon--small {
    i {
        font-size: 22px;
    }
}

.checkmark-icon--large {
    i {
        font-size: 30px;
        border-radius: 6px;
        line-height: 26px;
        box-shadow: $box-shadow;
    }
}

.checkmark-icon--complete {
    color: $green-400;
}

.checkmark-icon--incomplete {
    color: $grey-500;
}