@import 'styles/_shared.scss';

.success--container {
    padding: 20px 0px;
    
    i {
        font-size: 130px;
        color: $green-400;
    }

    h2 {
        text-transform: capitalize;
    }

    p {
        margin-top: -10px;
        text-transform: capitalize;
        font-size: $h4;
    }
}