@import 'styles/_shared.scss';

.clients--container {
    max-width: $max-width;
    margin: 0 auto;
    box-sizing: border-box;

    h1 {
        text-align: left;
        color: $grey-700;
        margin-bottom: 10px;
    }
    
}

table {
    background-color: $grey-100;
    width: 100%;
    text-align: left;
    font-size: $h5;

    th {
        padding: 16px;
        font-weight: 400;
        color: $grey-800;
        width: auto;
    }

    tr:first-child {
        text-transform: uppercase;
        font-size: $h6--larger;
        font-weight: 600;
        th {
            font-weight: 700;
            color: $grey-700;
        }
    }

    tr:nth-child(even) {
        background-color: white;
    }

    .client--stage {
        font-weight: 700;
    }

    .client--category {
        color: $grey-600;
        font-weight: 700;
    } 
    
    a {
        text-decoration: none;
        color: $theme-color--dark;

        &:hover {
            text-decoration: underline;
        }
    }

    button {
        color: $red-400;
        border: none;
        font-size: 14px;
        cursor: pointer;
        background-color: rgba(0, 255, 0, 0);

        &:hover {
            text-decoration: underline;
        }
    }
}

.clients--task { 
    align-self: center;
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-items: start;
    align-items: center;
    grid-gap: 10px;
    cursor: pointer;
    .task-label {
        background-color: transparent;
        box-shadow: none;
        padding-left: 0px;
    }
}

.clients--task-completed {
    text-decoration: line-through $green-400;
    .client--category,
    .client--stage {
        color: $green-600 !important;
    }
}