/*
==========================
FONT
==========================
*/

$h1--larger: 72px;
$h1: 60px;

$h2: 48px;

$h3--larger: 36px;
$h3: 30px;

$h4--larger: 24px;
$h4: 20px;

$h5--larger: 18px;
$h5: 16px;

$h6--larger: 14px;
$h6: 12px;

@mixin logo {
    color: $theme-color;
    font-size: $h4--larger;
    text-transform: lowercase;
    font-weight: 800;
}
/*
==========================
COLORS
==========================
*/
$grey-900: #333333;
$grey-800: #4f4f4f;
$grey-700: #7f7f7f;
$grey-600: rgb(158, 158, 158);
$grey-500: #bbbbbb;
$grey-400: #D9D9D9;
$grey-300: #e6e6e6;
$grey-200: #efefef;
$grey-100: #F7F8FC;

$blue-100: #EFF2FA;
$blue-200: rgb(170, 197, 219);
$blue-300: #A2AEC3;
$blue-350: rgb(127, 149, 185);
$blue-400: rgb(69, 140, 199);
$blue-500: #466D98;
$blue-600: rgb(54, 91, 131);
$blue-700: rgb(64, 96, 131);
$blue-900: rgb(77, 91, 105);

$purple-1000: #19216C;
$purple-900: #2D3A8C;
$purple-800: #35469C;
$purple-700: #4055A8;
$purple-600: #4C63B6;
$purple-500: #647ACB;
$purple-400: #7B93DB;
$purple-300: #98AEEB;
$purple-200: #BED0F7;
$purple-100: #E0E8F9;

$red-1000: #610316;
$red-900: #8A041A;
$red-800: #AB091E;
$red-700: #CF1124;
$red-600: #E12D39;
$red-500: #EF4E4E;
$red-400: #F86A6A;
$red-300: #FF9B9B;
$red-200: #FFBDBD;
$red-100: #FFE3E3;

$green-1000: #014D40;
$green-900: #0C6B58;
$green-800: #147D64;
$green-700: #199473;
$green-600: #27AB83;
$green-500: #3EBD93;
$green-400: #65D6AD;
$green-300: #8EEDC7;
$green-200: #C6F7E2;
$green-100: #EFFCF6;

$attention-red: rgb(236, 82, 71);
$attention-red--light: rgb(250, 230, 228);
$success-green: rgb(117, 195, 128);
$success-green--light: rgb(220, 250, 224); 

$theme-color: $blue-500;
$theme-color--light: $blue-300;
$theme-color--dark: $blue-600;
$theme-color--darker: $blue-700;
$theme-color--darkest: $blue-900;
$theme-color--med-light: $blue-400;
$theme-color--gradient: linear-gradient(30deg, $theme-color--light, $theme-color);
$blue-gradient-med:  linear-gradient(5deg,  rgb(142, 182, 218), $theme-color--med-light);
/*
==========================
STYLING
==========================
*/
$page-padding: 20px;
$box-shadow: 0px 3px 6px $grey-400;
$box-shadow-blue: 0px 3px 6px $theme-color--light;
$max-width: 1280px;

/*
==========================
Z-INDEXES
==========================
*/
$z-dropdown: 200;
$z-header: 14;
$z-middle: 10;
$z-default: 1;
$z-below: -1;


/*
==========================
PAGE
==========================
*/
@mixin page {
    background-color: $blue-100;
    min-width: 100vw;
    min-height: 100vh;
    padding: 30px;
}