@import 'styles/_shared.scss';

.header--container {
    background-color: white;
    height: 60px;
    font-size: calc(10px + 2vmin);
    color: $grey-700;
    border-bottom: 2px solid $grey-200;
    box-shadow: $box-shadow-blue;
    a {
      text-decoration: none;
    }
}

.header {
    margin: 0 auto;
    padding: 18px 0px;
    max-width: $max-width;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo navigation";
}

.logo {
    grid-area: logo;
    justify-self: start;
    align-self: center;
    @include logo;
}

.navigation {
    grid-area: navigation;
    justify-self: end;
    align-self: center;
    color: $theme-color; 
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;

    display: grid;
    grid-auto-flow: column;
    grid-gap: 30px;
    align-items: center;

    a {
        color: $grey-700;
    }
}

.header-error {
    position: absolute;
    margin: 0 auto;
    left: 45%;
    margin-top: 42px;
    font-size: 16px;
}
.avatar {
    cursor: pointer;

    .avatar-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: contain;
    }

    .dropdown {
        position: absolute;
        z-index: 20;
        margin-top: 20px;
        width: 120px;
        margin-left: -80px;
        padding: 10px 0px;
        box-shadow: $box-shadow;
        background-color: white;
    }
}

.btn--tertiary {
    border: none;
    background-color: white;
    box-shadow: none;
    font-size: 14px;
    font-weight: 600;
    color: $grey-700;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    &:hover {
        background-color: $theme-color--light;
    }
}

@media (max-width: 600px) {
    .header {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
}