@import 'styles/_shared.scss';

.client-workflows {
    box-sizing: border-box;

    .client-page--header {
        @include info-module-header;

        h1 {
            margin-top: 24px;
        }

        h4 {
            align-self: flex-end;
            font-weight: 500;
            font-size: 18px;
        }
    }

    .workflow--container {
        margin-bottom: 20px;
    }

}